<%- include('../partials/header') %>

<div class="container">
    <div class="row">
        <h1 class="col-12"><%= campground.name %></h1>
        <div class="col-12">
            <img class="img-fluid" alt="Responsive image" src="<%= campground.image %>">
        </div>
        <div class="col-12">
            <p><%= campground.description %></p>
        </div>
        <a class="col-12" href="/campgrounds">Go Back</a>
        <a class="col-12" href="/campgrounds/<%= campground._id %>/comments/new">Comment</a>
    </div>

    <ul>
        <% campground.comments.forEach(item => { %>
            <li><%= item.text %> -by <%= item.author %></li>
        <% }) %>
    </ul>
</div>

<%- include('../partials/footer') %>